#outer-main-container-small {
    margin: auto;
    width: auto; ***
    height: 610px;
}

.result-area-text-small {
    margin: 10px;
    height:180px;****
    width: 280px;****
    font-size: 1.75rem;****
    flex-direction: column;
    justify-content: center;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    background-color: black;
}

#inner-game-container-small {
    background-color: rgb(224, 159, 62);
    height: 308px;
    width: auto;**********
    list-style-type: none;
    overflow: auto;
}

.game-btn-small {
    width: 90px;******
    background-color: #CD4134;
    border: 0;
    padding: 5px 5px;
    font-size: 15px;******
    cursor: pointer;
    margin: 11px 1px 1px 1px;******
}

.btn-small {
    width: 100px;******
    background-color: #CD4134;
    border: 0;
    padding: 5px 5px;
    font-size: 15px;******
    cursor: pointer;
    margin: 11px 1px 1px 1px;******
}

ul#small-btn-inline li {
  display:inline;
}

.span-result-draw-small-text {
    font-size: large;
    font-weight: 700;
    color: orange;
}

.span-result-win-small-text {
    font-size: large;
    font-weight: 700;
    color: green;
}

.span-result-lose-small-text {
    font-size: large;
    font-weight: 700;
    color: red;
}

.play-a-game-small {
    font-size: large;
    font-weight: 700;
}