/* * {
    margin: auto;
}*/

body {
    max-width: 1200px;
    text-align: center;
    margin-left: auto ;
    margin-right: auto;
    font-family: 'Jura', sans-serif;
    background-color: rgb(255, 243, 176);
    color: white;
}

#menu-container {
    text-align: center;

}

#outer-main-container {
    margin: auto;
    width: 600px;
    height:610px;
}

#score-container {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    text-align: center;
    margin: auto;
    padding: 5px 10px 10px 10px;
    width: 80%;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.inner-score-container {
  margin: 0px;
  width: 80%;
  padding: 0px 5px 5px 5px;
  list-style-type: none;
  overflow: auto;
}

ul {
     /*Removes default padding from ul*/
        padding: 0px;
        list-style-type: none;
}

.result-area-text {
    margin: 10px;
    height: 200px;
    width: 400px;
    font-size: 1.75rem;
    flex-direction: column;
    justify-content: center;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    background-color: black;
}

#result-area {
    height: 80px;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
}

.social-links li a i {
    margin-top: 15px;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 25%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #212529;
    background: #CD4134;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    border-radius: 50%;
    background-color: rgb(38, 70, 83);
    color: rgb(221, 200, 162);
}

#inner-game-container {
    background-color: rgb(224, 159, 62);
    height: 308px;
    width: 580px;
    list-style-type: none;
    overflow: auto;
}

.score-board-area-result {
    height: 50px;
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
    color: #CD4134;
    background-color: black;
}

.previous-score-board-area-result {
    margin: auto;
    height: 75px;
    width: 150px;
    font-size: 3rem;
    font-family: 'Orbitron', sans-serif;
    color: #CD4134;
    background-color: black;
}

.score-board-label {
    font-size: 2rem;
    color: rgba(0, 0, 0, 1);
}

#game-button-group {
    width: 145px;
    list-style-type: none;
}

.game-button-links {
    margin: auto;
}

/* Style buttons */
.btn {
    width: 130px;
    background-color: #CD4134; /* Blue background */
    border: 0; /* Remove borders */
    padding: 5px 5px; /* Some padding */
    font-size: 20px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin: 11px 3px 3px 3px;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: rgb(38, 70, 83);
    color: rgb(221, 200, 162);
}

.far {
    font-size: 2rem;
}

.span-result-draw {
    font-size: xx-large;
    font-weight: 700;
    color: orange;
}

.span-result-win {
    font-size: xx-large;
    font-weight: 700;
    color: green;
}

.span-result-lose {
    font-size: xx-large;
    font-weight: 700;
    color: red;
}

.play-a-game {
    font-size: xx-large;
    font-weight: 700;
}

@media (min-width: 800px) {
#outer-main-container {
    margin: auto;
    width: 800px;
    height:650px;
}

#menu-container {
    text-align: right;
    padding: 5px;
}


.inner-score-container {
  margin: 0px 35px 10px 35px;
  width: 80%;
  padding: 0px 5px 5px 5px;
  list-style-type: none;
  overflow: auto;
}

#inner-game-container {
    background-color: rgb(224, 159, 62);
    margin: auto;
    height: 320px;
    width: 80%;
    padding: 5px 5px 5px 5px;
    list-style-type: none;
    overflow: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

}

/*Hal9000 logo*/
.notification {
    margin: auto;
    background: #2D2A2B;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#494852), to(#2A2A30));
    background-image: -webkit-linear-gradient(#494852, #2A2A30);
    background-image: -moz-linear-gradient(#494852, #2A2A30);
    background-image: -o-linear-gradient(#494852, #2A2A30);
    background-image: linear-gradient(#494852, #2A2A30);
    box-shadow: inset 0 1px 0px rgba(255, 255, 225, 0.25),0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px 0px rgba(255,255,225,0.25),0 1px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 225, 0.25),0 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 1px solid #231F20;
    width: 75px;
    height: 75px;
}
.metal {
    width: 70%;
    height: 70%;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    box-sizing: border-box;
    background: #417d9f;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#43637c), to(#2c3c4b));
    background-image: -webkit-linear-gradient(#43637c, #2c3c4b);
    background-image: -moz-linear-gradient(#43637c, #2c3c4b);
    background-image: -o-linear-gradient(#43637c, #2c3c4b);
    background-image: linear-gradient(#43637c, #2c3c4b);
    border-top: 2px solid #b8ccd7;
    margin: 15%;
    padding: 5px;
    box-shadow: 0 2px 0 #21262c, 0 4px 0 #232429, 0 6px 0 #040003, 0 0 20px #000, 0 5px 20px #000, 0 -2px 0 #6d93a6;
    -moz-box-shadow: 0 2px 0 #21262c, 0 4px 0 #232429, 0 6px 0 #040003, 0 0 20px #000, 0 5px 20px #000, 0 -2px 0 #6d93a6;
    -webkit-box-shadow: 0 2px 0 #21262c, 0 4px 0 #232429, 0 6px 0 #040003, 0 0 20px #000, 0 5px 20px #000, 0 -2px 0 #6d93a6);
}
.light {
    position: relative;
     border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 3px 0px #2e4452, inset 0 5px 0 #392c33;
    -moz-box-shadow: inset 0 3px 0px #2e4452, inset 0 5px 0 #392c33;
    -webkit-box-shadow: inset 0 3px 0px #2e4452, inset 0 5px 0 #392c33;
    background: #ffe913; 
    background: #920000;
    background: -moz-radial-gradient(center, ellipse cover, #920000 39%, #2d0408 67%, #000000 71%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(39%,#920000), color-stop(67%,#2d0408), color-stop(71%,#000000)); 
    background: -webkit-radial-gradient(center, ellipse cover, #920000 39%,#2d0408 67%,#000000 71%); 
    background: -o-radial-gradient(center, ellipse cover, #920000 39%,#2d0408 67%,#000000 71%); 
    background: -ms-radial-gradient(center, ellipse cover, #920000 39%,#2d0408 67%,#000000 71%);
    background: radial-gradient(ellipse at center, #920000 39%,#2d0408 67%,#000000 71%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#920000', endColorstr='#000000',GradientType=1 ); 
}
 
.glowing-red {
    position: absolute;
    background: #F11A08;  
    width: 45%;
    height: 45%;
    margin:28%;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    box-shadow: 0 0 15px #F11A08;
    -moz-box-shadow: 0 0 15px #F11A08;
    -webkit-box-shadow: 0 0 15px #F11A08;
}
 
.glowing-yellow {
    background: #FFE913; 
    width: 50%;
    height: 50%;
    margin:24%;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    box-shadow: 0 0 5px #FFE913;
    -moz-box-shadow: 0 0 5px #FFE913;
    -webkit-box-shadow: 0 0 5px #FFE913;
}