* {
    margin: auto;
}

body {
    max-width: 1200px;
    text-align: center;
    margin-left: auto ;
    margin-right: auto;
    font-family: 'Jura', sans-serif;
    background-color: rgb(255, 243, 176);
    color: white;
}

#menu-container {
    text-align: center;

}

#outer-main-container {
    margin: auto;
    width: 600px;
    height:600px;
}

#score-container {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 80%;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.inner-score-container {
  margin: 0px;
  width: 80%;
  padding: 15px 5px 5px 5px;
  list-style-type: none;
  overflow: auto;
}

ul {
     /*Removes default padding from ul*/
        padding: 0px;
        list-style-type: none;
}

.result-area-text {
    margin: 10px;
    height: 200px;
    width: 400px;
    font-size: 2rem;
    flex-direction: column;
    justify-content: center;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    background-color: black;
}

#result-area {
    height: 80px;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
}

.social-links li a i {
    margin-top: 15px;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 25%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: rgb(221, 200, 162);
    background: #CD4134;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    border-radius: 50%;
    background-color: rgb(38, 70, 83);
    color: rgb(221, 200, 162);
}

#inner-game-container {
    background-color: rgb(224, 159, 62);
    height: 308px;
    width: 580px;
    list-style-type: none;
    overflow: auto;
}

.score-board-area-result {
    height: 50px;
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
    color: #CD4134;
    background-color: black;
}

.score-board-label {
    font-size: 2rem;
    color: rgba(0, 0, 0, 1);
}

#game-button-group {
    width: 145px;
    list-style-type: none;
}

.game-button-links {
    margin: auto;
}

/* Style buttons */
.btn {
  width: 130px;
  background-color: #CD4134; /* Blue background */
  border: 0; /* Remove borders */
  color: rgb(221, 200, 162); /* White text */
  padding: 5px 5px; /* Some padding */
  font-size: 20px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  margin: 11px 3px 3px 3px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(38, 70, 83);
  color: rgb(221, 200, 162);
}

.far {
    font-size: 2rem;
}

.span-result-draw {
    font-size: xx-large;
    font-weight: 700;
    color: orange;
}

.span-result-win {
    font-size: xx-large;
    font-weight: 700;
    color: green;
}

.span-result-lose {
    font-size: xx-large;
    font-weight: 700;
    color: red;
}

.play-a-game {
    font-size: xx-large;
    font-weight: 700;
}

@media (min-width: 800px) {
#outer-main-container {
    margin: auto;
    width: 800px;
    height:600px;
}

#menu-container {
    text-align: right;
    padding: 5px;
}


.inner-score-container {
  margin: 35px;
  width: 80%;
  padding: 15px 5px 5px 5px;
  list-style-type: none;
  overflow: auto;
}

#inner-game-container {
    background-color: rgb(224, 159, 62);
    margin: auto;
    height: 320px;
    width: 80%;
    padding: 5px 5px 5px 5px;
    list-style-type: none;
    overflow: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

}